<div class="row" data-controller="reminder" data-reminder-at="" id="test-remind-at">
  <div class="col-lg-9 col-xs-12 mx-auto">
    <%= form_with url: todo_list_url, method: :patch, scope: :form, data: { controller: 'auto-submit', auto_submit_interval: TodoListHelper.auto_save_interval, target: 'reminder.subject' } do |f| %>
      <div class="tdl-Background">
        <%= render partial: 'todo_lists/list', locals: { list: @list } %>
      </div>
      <div class="tdl-Actions">
        <div class="tdl-Actions_Save">
          <%= render partial: 'save_status', locals: { list: @list } %>
          <%= f.button data: { target: 'auto-submit.submit' }, style: 'display:none;' %>
        </div>
      </div>
    <% end -%>
  </div>
</div>
<template id="tmpl-todo-item">
  <%= render partial: 'todo_lists/list_item', locals: { item: nil, index: nil } %>
</template>
