<div class="row" data-controller="reminder" data-reminder-at="" data-reminder-interval="<%= @list.interval_in_minutes %>" id="test-remind-at">
  <div class="col-lg-9 col-xs-12 mx-auto">
    <%= form_with(todo_list_form_options(@list.instant_mode?)) do |f| %>
      <div class="tdl-Background">
        <%= render partial: 'todo_lists/list', locals: { list: @list } %>
      </div>
      <%= render partial: 'todo_lists/save', locals: { instant_mode: @list.instant_mode?, list: @list, f: f } %>
    <% end -%>
  </div>
</div>
<template id="tmpl-todo-item">
  <%= render partial: 'todo_lists/list_item', locals: { item: nil, index: nil } %>
</template>
<template id="tmpl-saving">
  <i class="icon-Saving"></i>
  保存しています...
</template>
