<div class="row">
  <div class="col-lg-9 col-xs-12 mx-auto">
    <%= form_with url: todo_list_url, method: :patch, scope: :form, data: { controller: 'auto-submit' } do |f| %>
      <div class="tdl-Background">
        <%= render partial: 'todo_lists/list', locals: { list: @list } %>
      </div>
      <div class="tdl-Actions">
        <div class="tdl-Actions_Save">
          <span data-controller="relative-time" data-relative-time-time="<%=l @list.updated_at, format: :long %>" data-relative-time-suffix="に保存済み" class="tdl-LastSavedAt"></span>
          <%= f.button '保存する', class: 'btn btn-sm btn-secondary' %>
        </div>
      </div>
    <% end -%>
  </div>
</div>
<template id="tmpl-todo-item">
  <%= render partial: 'todo_lists/list_item', locals: { item: nil, index: nil } %>
</template>
