<div class="row">
  <div class="col-lg-9 col-xs-12 mx-auto">
    <div class="tdl-Background">
      <div data-controller="inline-edit" data-inline-edit-value="Todo" class="tdl-Header">
        <div data-target="inline-edit.contentSection" class="sw-Flex sw-AlignItemsCenter">
          <span data-target="inline-edit.content" class="tdl-Title"></span>
          <div class="tdl-Header_Actions">
            <%= link_to '編集する', '#', data: { action: 'inline-edit#open' }, class: 'tdl-Item_Action' %>
          </div>
        </div>
        <div data-target="inline-edit.editSection">
          <form data-controller="safe-form" class="tdl-TitleForm">
            <input data-target="safe-form.field" type="text" class="tdl-TitleForm_Input">
            <button data-action="inline-edit#update" type="submit" class="sw-Button sw-Button-primary">
              <i class="icon-Save"></i>
            </button>
            <a data-action="inline-edit#close" href="#" class="sw-Cancel sw-Cancel-btn">
              <i class="icon-Cancel"></i>
            </a>
          </form>
        </div>
      </div>
      <div class="tdl-Body">
        <% items = %w(Alpha Bravo Charlie Delta Eco) %>
        <% items += [:new] %>
        <% items.fill(nil, items.size, (15 - items.size)).each_with_index do |c, i| %>
          <% if c.is_a?(String) %>
            <div data-controller="inline-edit" data-inline-edit-value="アイテム <%= c %>" class="tdl-Item">
              <div data-target="inline-edit.contentSection" class="sw-Flex sw-AlignItemsCenter">
                <div class="todo-Item">
                  <input type="checkbox" class="todo-Item_Check" id="customCheck<%= i %>">
                  <label data-target="inline-edit.content" class="todo-Item_Content" for="customCheck<%= i %>"></label>
                </div>
                <div class="tdl-Item_Actions">
                  <%= link_to '編集する', '#', data: { action: 'inline-edit#open' }, class: 'tdl-Item_Action' %>
                  <%= link_to '削除する', '', class: 'tdl-Item_Action' %>
                </div>
              </div>
              <div data-target="inline-edit.editSection">
                <form class="todo-Form" data-controller="safe-form">
                  <input type="text" data-target="safe-form.field" class="todo-Input" value="アイテム <%= c %>">
                  <button type="submit" class="sw-Button sw-Button-primary">
                    <i class="icon-Save"></i>
                  </button>
                  <a data-action="inline-edit#close" href="#" class="sw-Cancel sw-Cancel-btn">
                    <i class="icon-Cancel"></i>
                  </a>
                </form>
              </div>
            </div>
          <% elsif c == :new %>
            <div class="tdl-Item">
              <form class="todo-Form" data-controller="safe-form">
                <input data-target="safe-form.field" type="text" class="todo-Input" placeholder="Todoを入力...">
                <button type="submit" class="sw-Button sw-Button-primary">
                  追加する
                </button>
              </form>
            </div>
          <% else -%>
            <div class="tdl-Item tdl-Item-empty">
              &nbsp;
            </div>
          <% end -%>
        <% end -%>
      </div>
    </div>
    <div class="tdl-Tail">
      <span class="tdl-Timestamp">
        05-11 18:30 に更新
      </span>
      <div class="dropup">
        <a class="tdl-Reset_Actions" href="" id="js-Refresh_Actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="icon-Reset"></i>
          リストをリセット
        </a>
        <div class="dropdown-menu" aria-labelledby="js-Refresh_Actions">
          <a class="dropdown-item" href="#">
            まっさらにリセット
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            未完了を残してリセット
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
