<div class="row">
  <div class="col-lg-9 mx-auto">
    <div class="tdl-Paper">
      <div class="tdl-Header">
        <span class="tdl-Title">
          Todo List
        </span>
      </div>
      <div class="tdl-Body">
        <% items = %w(Alpha Bravo Charlie Delta Eco) %>
        <% items += [:new] %>
        <% items.fill(nil, items.size, (15 - items.size)).each_with_index do |c, i| %>
          <% if c.is_a?(String) %>
            <div class="tdl-Item">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck<%= i %>">
                <label class="custom-control-label tdl-Item_Content" for="customCheck<%= i %>">
                  アイテム <%= c %>
                </label>
              </div>
              <div class="tdl-Item_Actions">
                <%= link_to '編集する', '', class: 'tdl-Item_Action' %>
                <%= link_to '削除する', '', class: 'tdl-Item_Action' %>
              </div>
            </div>
          <% elsif c == :new %>
            <div class="tdl-Item tdl-Item-min-space">
              <form class="tdl-Item_Form">
                <input type="text" class="tdl-Item_Input" placeholder="Todoを入力...">
                <button class="btn btn-sm btn-secondary ml-1">
                  追加する
                </button>
              </form>
            </div>
          <% else -%>
            <div class="tdl-Item tdl-Item-empty">
              &nbsp;
            </div>
          <% end -%>
        <% end -%>
      </div>
    </div>
  </div>
</div>
