<%= content_for(:body_class) { 'mk-Body' } %>
<div class="mk-Nav">
  <h1 class="mk-Appname">
    Leave me alone!
  </h1>
  <div class="ml-auto">
    <%= link_to new_session_url, class: 'mk-Link' do -%>
      <i class="icon-Sign-in"></i>
      ログイン
    <% end -%>
  </div>
</div>
<div class="mk-Main">
  <p class="mk-Copy">
    さっさと<br>終わらせて<br>帰りましょう。
  </p>
  <div data-controller="random">
    <span data-target="random.subject" class="mk-Copy_Image">
      👨🏻‍💻
    </span>
    <span data-target="random.subject" class="mk-Copy_Image">
      👩🏻‍💻
    </span>
    <span data-target="random.subject" class="mk-Copy_Image">
      👨🏼‍💻
    </span>
    <span data-target="random.subject" class="mk-Copy_Image">
      👩🏼‍💻
    </span>
    <span data-target="random.subject" class="mk-Copy_Image">
      👨🏽‍💻
    </span>
    <span data-target="random.subject" class="mk-Copy_Image">
      👩🏽‍💻
    </span>
    <span data-target="random.subject" class="mk-Copy_Image">
      👨🏾‍💻
    </span>
    <span data-target="random.subject" class="mk-Copy_Image">
      👩🏾‍💻
    </span>
    <span data-target="random.subject" class="mk-Copy_Image">
      👨🏿‍💻
    </span>
    <span data-target="random.subject" class="mk-Copy_Image">
      👩🏿‍💻
    </span>
  </div>
</div>
<div class="mk-Footer">
  <div class="mk-Joins">
    <%= google_sign_in(url: google_sign_up_url) do %>
      <%= button_tag 'Googleでユーザー登録', class: 'mk-Button sw-Button-primary', id: 'test-sign-up' %>
    <% end -%>
    <%= link_to instant_todo_list_url, class: 'mk-GotoInstant' do -%>
      <i class="icon-GotoInstant"></i>
      ユーザー登録せずに使ってみる
    <% end -%>
  </div>
</div>
