<!DOCTYPE html>
<html>
  <head>
    <title>Leave me alone!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= web_font_link_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :head %>
  </head>
  <body<%= content_for?(:body_class) ? %{ class="#{yield(:body_class)}"}.html_safe : '' %>>
    <%= content_for?(:page) ? yield(:page) : yield %>
  </body>
</html>
